<!DOCTYPE html>
<html>
<head>
    <title>Tornado-youdao</title>
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/twitter-bootstrap/2.2.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://www.bootcss.com/p/flat-ui/css/flat-ui.css">
    <style type="text/css">
        .align-center {
            text-align: center;
        }
        .auto-240 {
            margin: 0 auto;
            max-width: 240px;
        }
    </style>
</head>
<body>
    <div class="align-center">
        <h1 class="demo-logo">
            <div class="logo"></div>
            Tornado-youdao
            <small>tornado实现的微型网易云笔记</small>
        </h1>
    </div>
    <div class="form">
        <div class="align-center">
          <div class="login-form">
            <div class="control-group">
              <input type="text" class="login-field" value="" placeholder="Enter your name" id="name">
            </div>

            <div class="control-group">
              <input type="password" class="login-field" value="" placeholder="Password" id="pass">
            </div>
            <a class="btn btn-primary btn-large btn-block auto-240" id="login">Login</a>
            <a class="btn btn-large btn-block auto-240" href="/signup/">No account</a>
          </div>
        </div>
    </div>
    <script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        (function () {
            var fn = {
                bind: function () {
                    var name = $('#name');
                    var pass = $('#pass');
                    var login = $('#login');

                    login.on('click', function () {
                        $.ajax('/api/login/', {
                            type:'POST',
                            dataType: 'JSON',
                            data: { 
                                name: name.val(),
                                password: pass.val()
                            },
                            success: function (res) {
                                console.log(res);
                                if (res.code === 200 || res.code === '200') {
                                    location.href = '/home/';
                                }
                                else {
                                    name.parent().addClass('error');
                                    pass.parent().addClass('error');
                                }
                            }
                        });
                    });
                }
            };

            //bind
            fn.bind();

        })()
    </script>
</body>
</html>